* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

div {
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    min-width: 100vh;
    min-height: 100vh;
    background: url(../source/illust_97285941_20220915_160606.jpg) no-repeat;
    background-size: cover;
}

.wrapper{
    margin-top: 5%;
    margin-left: 41%;
    display: flex;
    flex-direction: column;
    justify-content: center; 	/* aligns the text to the center of the page */ 	/* center the main element in the page */
    align-items: center;		/* aligns the element with its bottom of the page */ 	/* to the bottom of the page */
    position: relative;
    width: 400px;
    height: 420px;
    background-color: rgba(247,244,229,.2);
    border: 1px solid rgba(191,200,207, 0.9);
    border-right: 1px solid rgba(255,255,255,.5);
    border-bottom: 0;
    border-radius: 20px;
    backdrop-filter: blur(6px);
}

.wrapper h2{
    font-size: 2em;
    color: rgb(125,163,195);
}

.wrapper .input-box{
    position: relative;
    widows: 320px;
    margin: 30px 0; 		/* aligns the text with the left of the box */
    border-bottom: 2px solid #fff;
}

.input-box label{
    position: absolute; 		/* aligns the text with the left of the box */ 	/* to the left of the text */ 	/* in case of a checkbox or a button */ 	/* if the text is too long, it will be truncated */ 	/* this is an absolute positioned element */ 	/* it will move the text to the left of the box */ 	/* it is not possible to use relative and absolute elements together */ 	left: -9999px; 	/* set a left value that will never be reached */ 	top: -9999px;
    top: 50%; 			/* aligns the text with the top of the box */ 	/* in case of a checkbox or a button */
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    pointer-events: none;
    color: rgba(84,202,217, 0.5); /* this will make the text blink */ 	/* this will make the text display as blink*/
    transition: .5s;
}

.input-box input:hover~label{
    top: 5px;
    font-size: 1.1em;
    color: rgba(133,166,189,.5);
}

.input-box input{
    width: 100%;
    height: 50px;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0 35px 0 45px;
    color: rgb(84,202,217);
}

.input-box i{
    position: absolute;
    right: 8px;
    line-height: 60px;
    transition: .5s;
}

.input-box span i:nth-child(2) {
    opacity: 0;
}

.input-box input:hover~span i:nth-child(1) {
    opacity: 0;
}
.input-box input:hover~span i:nth-child(2) {
    opacity: 1;
    font-size: 1.1em;
}

.remember-forgot{
    display: flex;
    justify-content: space-between; 
    margin: -15px 0 15px;
    color: #fff; 
    font-size: 0.9em; 	/* set a right value that will never be reached */ 	top: -9999px;
    width: 320px;
    transition: .5;
}

.remember-forgot a{
    display: inline-block;
    height: 25px;
    color: #fff;
    transition: .5;
}

.remember-forgot a:hover{
    color: rgba(255,255,255,.7); 	/* change the color of the text */ 	/* this will make the text blink */ 	/* this will make the text display as blink*/ 	color: rgba(255,255,255,1); 	/* change the color of the text */ 	/* this will make the text blink */ 	/* this will make the text display as blink*/ 	transition:.5;
    border-bottom: 1px solid #fff;
}

.remember-forgot label input{
    accent-color: rgb(174,216,221); 	/* set the accent color */ 	/* to something that will blink */
    margin-right: 3px;
}

.wrapper button{
    width: 320px;
    height: 45px;
    border: none;
    background-color: rgb(125,216,222);
    border-radius: 40px;
    cursor: pointer;
    font-size: 1em;
    font-weight: 500;
    color: white; 	/* change the color of the text */ 	/* this will make the text display as blink */
    transition: .5s;
}

.wrapper button:hover{
    box-shadow: 0 0 15px #000;
}

.register-link{
    font-size: 0.9em;
    margin: 25px 0 10px;
}

.register-link a{
    display: inline-block;
    color: white;
    font-weight: 600;
    transition:.5; 	/* this will make the text blink */ 	/* this will make the text display as blink*/
    height: 25px;
}

.register-link a:hover{
    border-bottom: 1px solid rgba(255, 255, 255, .3);
    font-size: 1.1em;
}

